<% if logged_in? %>
<div class="container-fluid">
  <div class="jumbotron_4">
    <div class="bg-mask">
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
          <%= render 'shared/stats' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>

          </aside>
          <div class="col-md-8">
            <h3>みんなの投稿</h3>
              <ol class="microposts">
                <%= render 'shared/article' %>
              </ol>
            <div id="page_top"><a href="#"></a></div>
            <%= javascript_pack_tag 'home/pagetag' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% else %>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Welcome to the Neko Neko</h1>
      <h2>猫とハッピーな毎日を</h2>
          <div class="home-button">
            <%= link_to "新規登録", signup_path , class: "btn2 btn-warning btn-primary p-2", style: "width:18%" %>
            <%= link_to "ログイン", login_path, class: "btn2 btn-success btn-primary p-2", style: "width:18%" %>
          </div>
    </div>
  </div>
    <div class="about">
      <%= render 'shared/about' %>
    </div>
<% end %>