<% if logged_in? %>
<div class="container-fluid">
  <div class="jumbotron_4">
    <div class="bg-mask">
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
          <%= render 'shared/stats' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
          <section class="ranking">
            <%= render 'shared/ranking'%>
          </section>
          </aside>
          <div class="col-md-8">
            <h3>みんなの投稿</h3>
              <ol class="microposts">
                <%= render 'shared/article' %>
              </ol>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% else %>
    <div class="container-fluid">
      <div class="jumbotron">
      <div class="row">
        <h1>Welcome to the Neko Neko</h1>
        <h2>猫とハッピーな毎日を</h2>
        <div class="container bg-light">
          <div class="text-right">
            <div class="home-button">
              <%= link_to "新規登録", signup_path , class: "btn btn-lg btn-warning" %>
              <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
          <div class="about">
          <%= render 'shared/about' %>
          </div>
<% end %>