<% if !current_user?(micropost.user) %>
<%= content_tag :span, "お気に入り登録数(#{micropost.likes_count})", class: "glyphicon glyphicon-heart" %>
  <span class="like">
    <% if micropost.iine?(current_user) %>
      <%= form_with(model: micropost.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-danger btn-default btn-sm glyphicon glyphicon-heart") do %>
          お気に入り投稿に追加しました
        <% end %>
      <% end %>
    <% else %>
      <%= form_with(model: micropost.likes.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
        <%= button_tag(class: "btn btn-default btn-sm glyphicon glyphicon-heart-empty") do %>
         お気に入り投稿に追加する
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>