<% provide(:title, "お気に入り投稿一覧") %>
<div class="row">
  <div class="jumbotron_4">
    <div class="bg-mask">
      <div class="container-fluid">
        <div class="col-md-8">
          <% if @likes.any? %>
            <h3>お気に入り投稿一覧 (<%= @likes.count %>)</h3>
            <ol class="microposts">
              <% @likes.each do |like| %>
                <% post = Micropost.find_by(id: like.micropost_id) %>
                <li id="micropost-<%= post.id %>">
                <% if post.user.image? %>
                <%= link_to image_tag( post.user.image.thumb.url, class: "mini-user-icon"), post.user %>
                <% else %>
                <%= link_to image_tag('default.jpg', class: "mini-user-icon"), post.user %>
                <% end %>
                <span class="user"><%= link_to post.user.name, post.user %></span>
                <span class="content">
                  <%= post.content %>
                  <%= image_tag post.display_image if post.image.attached? %>
                </span>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(post.created_at) %> ago.
                <%= form_with(model: post.likes.find_by(user_id: current_user.id), method: :delete, local: true) do |f| %>
                <%= button_tag(class: "btn btn-warning btn-xs") do %>
                お気に入りから解除する<%= content_tag :span %>
                </span>
              <% end %>
            <% end %>
                </li>
              <% end %>
            </ol>
          <%= will_paginate @likes %>
          <% else %>
          お気に入りの投稿がありません
          <% end %>
      </div>
    </div>
  </div>
</div>