<li id="micropost-<%= micropost.id %>">
  <% if micropost.user.image? %>
  <%= link_to image_tag( micropost.user.image.thumb.url, class: "mini-user-icon"), micropost.user %>
  <% else %>
  <%= link_to image_tag('default.jpg', class: "mini-user-icon"), micropost.user %>
  <% end %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="comment">
  <%= icon("far", "comments", class: "comments-icon") %> <%= micropost.comments.count %>
  <br>
  <%= link_to '投稿にコメントする', micropost_path(micropost) %>
  </span>
  <span class="timestamp">
     <%= time_ago_in_words(micropost.created_at) %> 前に投稿
    <br>
    <% if current_user?(micropost.user) %>
      <%= link_to "投稿を削除する", micropost, method: :delete,
                                       data: { confirm: "本当に投稿を削除しますか?" } %>
    <% end %>
  </span>
  <div class="like">
  <%= render 'likes/like', micropost: micropost %>
  </div>
</li>