<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Neko Neko", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "メインページ", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "お気に入りの投稿一覧", likes_user_path(current_user) %></li>
          <li><%= link_to "登録している人 or ねこ", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              マイプロフィール <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "自分の投稿", user_path(current_user) %></li>
              <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
            </ul>
          </li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete , data: { confirm: "ログアウトしますか?" } %>
              </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>